<section class="principal">    
    <div class="home">
        <img src="/img/LIVROS.svg" alt="">
    </div>
    <div>
        <h4> O lugar perfeito para registrar os livros que já leu ou ainda deseja ler. <br> Na sua prateleira virtual você pode sempre se lembrar das leituras que se apaixonou, ou deixar guardado num lugar seguro as indicações que pretende ler futuramente. <br> Um site inteiramente gratuito e que visa incentivar a leitura para todos os públicos. Faça parte desse time de apaixonados pelo universo dos livros e monte sua prateleira com a gente! <br>  Registre-se e saiba mais.<br><p></p></h4>
        <a id="red" href="/register">Registrar-se</a>
        <div class="pai">
                <a  href =" https://github.com" target ="_blank " rel =" noopener noreferrer " >
                <img  src ="/img/icons8-github.svg" > </img>
                <a  href ="https://www.instagram.com/peekbook_/" id="insta" target ="_blank " rel =" noopener noreferrer " >
                <img  src ="/img/icons8-instagram (3).svg" > </img>
                <a  href =" https://web.facebook.com/profile.php?id=100090929103263" target ="_blank " rel =" noopener noreferrer " >
                <img  src ="/img/icons8-facebook.svg" > </img>         
        </div>
    </div>    
   
      

</section>


<div id="infos">
  
</div>
